.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(238, 226, 226);
    padding-left: 8px;
    padding-right: 8px;
}
.ReceiptContainer {
    background-color:#f1f1f1;
    /* padding: 0 5px 5px 5px; */
    padding: 15px;
    border-radius: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 2px 4px rgb(119, 30, 30);
    width: 100%;
}

.ReceiptDetail {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    /* overflow: hidden; */
}
.ReceiptDetail p{
    text-align: center;
    /* overflow: hidden; */
}
.Title {
    flex-basis: 35%;
}
p.Title {
    text-align: left;
}
p.Title, p.Quantity, p.Amount {
    text-align: center;
}
p.Title {
    text-align: left !important;
}
.Price {
    /* margin-left: 2rem; */
    flex-basis: 25%;
}
.Quantity {
    /* margin-left: 2rem; */
    flex-basis: 25%;
}
.Amount {
    flex-basis: 25%;
    /* margin-left: 2rem; */
}
.Print {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    /* text-transform: capitalize; */
}

.Prt {
    font-family: cursive;
    text-shadow: 1px 1px #FF0000;
    font-size: 1.2rem;
}
.Tot {
    text-transform: uppercase;
}

.Thanks {
    text-transform: uppercase;
    color: purple;
    text-shadow: 2px 2px green;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 0.05rem;
    font-family: Arial, Helvetica, sans-serif;
}
.Taxation {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 7px;
    justify-content: flex-end;
    color: rgb(59, 23, 23);
}


@media only screen and (min-width: 768px) {
    .ReceiptContainer {
        width: 40%;
    }
}