.Container {
    padding: 20px;
    /* background: coral; */
    display: flex;
    margin-top: 2rem;
    /* height: 100vh; */
}
.Wrapper {
}
.Viewcart {
    background: #183a19ad;
    padding: 0.6rem;
    border-radius: 9px;
    color: white;
    border: 2px solid rgb(49, 7, 7);
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: cursive;
    letter-spacing: 0.3rem;
}
.Title h3 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.Description {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.Cost {
    display: flex;
}
.Image {
    /* flex-basis: 30%; */
    /* background: red; */
    height: 200px;
    margin-bottom: 20px;
}
.Image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.Describe {
}
.Model {
    margin-bottom: 10px;
}
.Made {
    display: flex;
    /* font-size: large; */
    font-weight: 37px;
    font-family: cursive;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.Made p {
}
.Price, .Info, .Desc, .Btn {
    margin-bottom: 10px;
}
.Btn {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.Desc {
    font-size: 1rem;
    letter-spacing: 0.23rem;
}
.Made, .Price, .Info, .Model, .Title {
    font-size: 1rem;
    letter-spacing: 0.2rem;
}
.Made, .Price {
    font-size: 0.8rem !important;
}
.Add h4 {
    font-size: 1.2rem;
}
.Back h4 {
    font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
    .Description {
        flex-direction: row;
    }
    .Image {
        flex-basis: 30%;
    }
    .Describe {
        flex-basis: 45%;
    }
    .Title h3 {
        text-align: center;
        margin-left: 43px;
    }
    .Add h4 {
        font-size: 2.2rem;
    }
    .Back h4 {
        font-size: 2.2rem;
    }
    .Desc {
        font-size: 1.35rem;
    }
}

@media only screen and (min-width: 992px) {
    .Desc {
        font-size: 1.15rem;
    }
}