.Wrapper {
    display: flex;
    justify-content: space-between;
    height: 90px;
    margin-top: 2rem;
    /* background-color: red; */
}
.Cost, .Tot {
    display: flex;
}
.Product {
    /* background: red; */
    /* height: 90px; */
    width: 100px;
}
.Product .Img {
    /* background-color: purple; */
    height: 73%;
}
.Img img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.Title {
    text-align: center;
}
.Chevup, .Chevdown{
    font-size: 1rem;
}
.Chevup::active {
    color: white;
}
.Chevdown::after {
    color: white;
}
.Chev {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Quantity, .Price, .Remove, .Total {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bolder;
}

.Chev, .Remove {
    cursor: pointer;
}


.Basecontainer {
    height: 135px;
    background: rgb(54, 28, 33);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    left: 0;
    right: 0;
}
.Basewrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Clear {
    font-size: 1rem;
}
.Clearcart {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* font-family: cursive; */
    font-weight: bolder;
    cursor: pointer;
    letter-spacing: 0.3rem !important;
}
.Checkout {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.3rem !important;
    color: white;
}
.Subtotal, .Tax, .Tottal, .Checkout {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    /* margin-top: 10px; */
}
.Subtotall, .Taxx, .Totttal {
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: #3c2929;
}
@media only screen and (min-width: 992px) {
    .Basecontainer{
        /* height: 200px; */
    }
}